name: Generate Pacman Graph

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Pacman Graph
        uses: Platane/snk@v3
        with:
          github_user_name: codingwithrahul
          outputs: |
            output/pacman-contribution-graph.svg
            output/pacman-contribution-graph-dark.svg?palette=github-dark

      - name: Commit Files
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: output
          commit_message: Update Pacman Graph
